.listaEtapas li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}


.default {
    background-color: lightsalmon;
}

.success {
    background-color: greenyellow;
}