h2 {
    margin-bottom: 5px;
}

input {
    max-height: max-content;
    width: 400px;
    padding: 5px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    color: #242424;
}