h2 {
    margin: 30px auto 10px auto;
}

textarea {
    min-height: 200px;
    width: 400px;
    font-size: large;
    font-weight: bold;
    border-radius: 2px;
    padding: 5px;
    border: none;
    color: #242424;
    resize: none;
}