* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#root {
  color: rgba(255, 255, 255, 0.87);
  min-height: 100vh;
  background-color: #242424;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.actionButton {
  min-height: 50px;
  width: 400px;
  font-size: large;
  font-weight: bold;
  border-radius: 2px;
  border: none;
  color: #242424;
}

